body {
  height: 100%;
  background: #F2F2F2;
}

h1 {
  color: $my-awesome-red;
  font-weight: bolder;
}


h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

ul {
  li {
    h2 {
      a {
        font-size: 26px;
      }
      margin-bottom: 6px;
    }
 }
}

.navbar-custom {
  background-color: #1C1C12;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

