<form >
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor emprestado</th>
        <th>Data empréstimo</th>
        <th>Status</th>
        <th colspan=3 >Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emprestimo of emprestimoList">
        <td>{{emprestimo.nome}}</td>
        <td>{{emprestimo.valor}}</td>
        <td>{{emprestimo.data}}</td>
        <td>{{emprestimo.status}}</td>
        <td><a>Editar</a></td>
        <td><a>Excluir</a></td>
        <td><a>Confirmar pagamento</a></td>
      </tr>
    </tbody>
  </table>
  <button>Adicionar Empréstimo</button>
  </div>

</form>
