<nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #4C6E87">
  <a class="navbar-brand" href="#">Doing Dojo</a>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
