<div class="container">
  <label>Nome do cobrador</label>
  <input  name="txnome" type="text">
  <label>Valor emprestimo</label>
  <input  name="txvalor" type="number">
  <label>Data do emprestimo</label>
  <input  name="txdata" type="date">
  <button>Salvar</button>
</div>
