<div class="container text-center ">
  <h1 class="display-3 m-5 font-weight-bold" style="color: #70A5BD">Seja bem vindo ao Lean DOJO Java e angular 4!</h1>
  <p class="lead ">

  </p>
</div>
  <div class="container text-center">
    <form #companyForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline" >
      <div class="md-form container col-xs-12 col-sm-6 col-md-6 col-lg-6">

          <i class="fa fa-envelope prefix"></i>
          <input type="email" id="email"
                 name="email" class="form-control mr-sm-2"
                 [(ngModel)]="formUser.email"
                 required
                 placeholder="seu@email.com">

        <button type="button" [disabled]="!companyForm.valid" class="btn btn-success" (click)="search()">Entrar</button>

      </div>
      <div *ngIf="!user" >
        <div class="md-form container col-xs-12 col-sm-4 col-md-6 col-lg-12">

        <div class="alert alert-warning" role="alert">
          <h4>
            Atenção! O email não foi encontrado. Para se cadastrar, informe seu email e nome.
          </h4>
        </div>
          <input type="text" name="nome" class="form-control mr-sm-2" [(ngModel)]="formUser.name" placeholder="Nome">
          <button type="submit" class="btn btn-success" >Salvar</button>
          <button type="submit" class="btn btn-default" >Cancelar</button>
        </div>
      </div>
    </form>
  </div>


